[user]
	name = artorias305
	username = artorias305
	email = 105161738+artorias305@users.noreply.github.com
[init]
	defaultBranch = master
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictStyle = zdiff3
